<!doctype html>

<html lang="fr">
 {% block head%}
<head>
  <meta charset="utf-8">

  <meta name="description" content="{{title}}">
  <meta name="author" content="Vincent Fleurette">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>{{title}}</title>
<link href="/bower_components/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet">
<link href="/css/style.css" rel="stylesheet">
<link href="/bower_components/eonasdan-bootstrap-datetimepicker/build/css/bootstrap-datetimepicker.min.css" rel="stylesheet" />
<link rel="stylesheet" href="/css/jquery-ui-1.10.4.custom.min.css">
{% endblock %}
        <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
        <script src="/bower_components/jquery/dist/jquery.min.js"></script>
        <!-- Include all compiled plugins (below), or include individual files as needed -->
        <script src="/bower_components/bootstrap/dist/js/bootstrap.min.js"></script>
        <script type="text/javascript" src="/bower_components/moment/min/moment.min.js"></script>
        <script type="text/javascript" src="/bower_components/eonasdan-bootstrap-datetimepicker/build/js/bootstrap-datetimepicker.min.js"></script>
        <script src="/js/jquery-ui-1.10.4.custom.autocomplete.min.js"></script>
        <script src="/js/jquery.validate.min.js"></script>
        <script src="/js/app.js"></script>
</head>
<body>
    {% block navbar %}
        {% if body == 'home' %}
        <div class="navbar-wrapper">
        {% endif %}
            <div class="container">

                <nav class="navbar  navbar-default">
                    <div class="container-fluid">
                        <div class="navbar-header">
                            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                                <span class="sr-only">Toggle navigation</span>
                                <span class="icon-bar"></span>
                                <span class="icon-bar"></span>
                                <span class="icon-bar"></span>
                            </button>
                            <a  href="#">
                                <img src="/img/mo.svg" alt="" width="50" >
                            </a><strong>Musee d'Orsay</strong>
                        </div>
                        <div id="navbar" class="navbar-collapse collapse">
                            <ul class="nav navbar-nav">
                            {% if (session is null )%}
                                <li><a href="/"><span class="glyphicon glyphicon-home" aria-hidden="true"></span>  Accueil</a></li>
                            {% endif %}
                            {% if (session is not null or body == 'admin' )%}
                                <li><a href="/admin/"><span class="glyphicon glyphicon-dashboard" aria-hidden="true"></span>  Admin</a></li>
                            {% endif %}
                            {% if (session is not null or body == 'admin' )%}
                                <li><a href="/createmap/"><span class="glyphicon glyphicon-plus-sign" aria-hidden="true"></span>  Creer un parcours</a></li>
                            {% endif %}
                            {% if (session is not null or body == 'profil' )%}
                                <li><a href="/profil/"><span class="glyphicon glyphicon-user" aria-hidden="true"></span>  Votre profil</a></li>
                            {% endif %}
                                <li><a href="/top/"><span class="glyphicon glyphicon-star" aria-hidden="true"></span>  Top Parcours</a></li>
                            </ul>
                            <ul class="nav navbar-nav navbar-right">
                                {% if session is not null %}
                                <li><a href="/logout/"><span class="glyphicon glyphicon-off" aria-hidden="true"></span>  Se déconnecter</a></li>
                                {% endif %}
                                {% if (session is null  or session is not defined) %}
                                <li><a href="/login/"><span class="glyphicon glyphicon-off" aria-hidden="true"></span>  Se connecter</a></li>
                                <li><a href="/signin/"><span class="glyphicon glyphicon-pencil" aria-hidden="true"></span>  S'enregistrer</a></li>
                                {% endif %}
                                <li><a href="/about/"><span class="glyphicon glyphicon-info-sign" aria-hidden="true"></span>  A propos</a></li>
                            </ul>
                        </div><!--/.nav-collapse -->
                    </div><!--/.container-fluid -->
                </nav>
        {% if body == 'home' %}
            </div>
        </div>
        {% endif %}
    {% endblock %}

        {% if body == 'home' %}
            {% block content %}

            {% endblock %}
        {% elseif body == 'signin'%}
              {% block signin%}

            {% endblock %}
        {% elseif body == 'login'%}
              {% block login %}

            {% endblock %}
        {% elseif body == 'help' %}
                     {% block help %}

            {% endblock %}
        {% elseif body == 'admin' %}
            {% block admin %}

            {% endblock %}
        {% endif %}
            {% block top %}

            {% endblock %}
            {% block profil %}

            {% endblock %}
            {% block recent %}

            {% endblock %}
            {% block editprofil %}

            {% endblock %}
            {% block create %}

            {% endblock %}
            {% block newplan %}

            {% endblock %}
            {% block createmap %}
            {% endblock %}
            {% block about %}

            {% endblock %}


    {% block footer %}
        <!-- FOOTER -->
        </div><!-- /.container -->
        <footer >
            <div class="container">
                <p class="text-muted">
                    &copy; {{"now"|date('Y')}} Musee d'Orsay &middot;
                    <a class="pull-right" href="#">Retour en haut</a>
                </p>
        </div>
        </footer>
    {% endblock %}
    {% block javascript %}
        <script>

            function PostData() {
                // 1. Create XHR instance - Start
                var xhr;
                if (window.XMLHttpRequest) {
                    xhr = new XMLHttpRequest();
                }
                else if (window.ActiveXObject) {
                    xhr = new ActiveXObject("Msxml2.XMLHTTP");
                }
                else {
                    throw new Error("Ajax is not supported by this browser");
                }
                // 1. Create XHR instance - End

                // 2. Define what to do when XHR feed you the response from the server - Start
                xhr.onreadystatechange = function () {
                    if (xhr.readyState === 4) {
                        if (xhr.status == 200 && xhr.status < 300) {
                            $('#next').hide();
                            $('#previous').hide();
                            $('#select').hide();
                            $('#finish').show();
                            var sucess='<div class="alert alert-success" role="alert"><p>'+xhr.responseText+'</p></div>';
                            document.getElementById('status').innerHTML = sucess;
                        }else{
                            var sucess='<div class="alert alert-danger" role="alert"><p>Oups, un problème s\'est produit lors de l\'appel au serveur</p></div>';
                            document.getElementById('status').innerHTML = sucess;
                            }
                    }
                }
                // 2. Define what to do when XHR feed you the response from the server - Start

                var nparcours = document.getElementById("nparcours").textContent;
                var calendar = document.getElementById("calendar").textContent;
                var hour = document.getElementById("hour").textContent;
                var public = document.getElementById("spublic").textContent;
                var arr=new Array();

                for (var i=0;i<=$("#Result span.cellvalue").length;i++){
                    arr.push($($("#Result span.cellvalue")[i]).text());
                    }
                var dataparcours = {
                    'nparcours' : nparcours,
                    'calendar'  : calendar,
                    'hour'      : hour,
                    'public'    : public,
                    'arraydata' : arr
                };
                // 3. Specify your action, location and Send to the server - Start
                if(arr.length >1){
                var json = JSON.stringify(dataparcours);
                xhr.open('POST', '/verifyparcours/');
                xhr.setRequestHeader("Content-Type", "application/x-www-form-urlencoded");
                xhr.send("sdata=" + json);
                // 3. Specify your action, location and Send to the server - End
                }else{
                    var sucess='<div class="alert alert-warning" role="alert"><p>Veuillez selectionner au moins un élément !</p></div>';
                            document.getElementById('status').innerHTML = sucess;
                    }
            }

            function removePostData(id) {
                // 1. Create XHR instance - Start
                var xhr;
                if (window.XMLHttpRequest) {
                    xhr = new XMLHttpRequest();
                } else if (window.ActiveXObject) {
                    xhr = new ActiveXObject("Msxml2.XMLHTTP");
                } else {
                    throw new Error("Ajax is not supported by this browser");
                }
                // 1. Create XHR instance - End
                // 2. Define what to do when XHR feed you the response from the server - Start
                xhr.onreadystatechange = function () {
                    if (xhr.readyState === 4) {
                        if (xhr.status == 200 && xhr.status < 300) {
                            var sucess='<div class="alert alert-success alert-dismissible" role="alert"><p>'+xhr.responseText+'<button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button></p></div>';
                            document.getElementById('status').innerHTML = sucess;
                        }else{
                            var sucess='<div class="alert alert-danger alert-dismissible" role="alert"><p>Oups, un problème s\'est produit lors de l\'appel au serveur <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button></p></div>';
                            document.getElementById('statusplanid').innerHTML = sucess;
                            }
                    }
                }
                // 2. Define what to do when XHR feed you the response from the server - Start
                // 3. Specify your action, location and Send to the server - Start
                xhr.open('POST', '/removebyid/');
                xhr.setRequestHeader("Content-Type", "application/x-www-form-urlencoded");
                xhr.send("deleteid=" + id);
                // 3. Specify your action, location and Send to the server - End
            }

            function displayDataPlan(id) {
                // 1. Create XHR instance - Start
                var xhr;
                if (window.XMLHttpRequest) {
                    xhr = new XMLHttpRequest();
                } else if (window.ActiveXObject) {
                    xhr = new ActiveXObject("Msxml2.XMLHTTP");
                } else {
                    throw new Error("Ajax is not supported by this browser");
                }
                // 1. Create XHR instance - End
                // 2. Define what to do when XHR feed you the response from the server - Start
                xhr.onreadystatechange = function () {
                    if (xhr.readyState === 4) {
                        if (xhr.status == 200 && xhr.status < 300) {
                            var sucess =JSON.parse( xhr.responseText);
                            var a = '<ul>';
                            var b = '</ul>';
                            var m ='';
                            for (i = 0; i < sucess.length; i += 1){
                                m += '<li>' + sucess[i] + '</li>';
                            }
                            console.log(m);
                            document.getElementById('statusplanid').innerHTML = a + m.valueOf() + b;
                        }else{
                            var sucess='<div class="alert alert-danger alert-dismissible" role="alert"><p>Oups, un problème s\'est produit lors de l\'appel au serveur <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button></p></div>';
                            document.getElementById('statusplanid').innerHTML = sucess;
                            }
                    }
                }
                // 2. Define what to do when XHR feed you the response from the server - Start
                // 3. Specify your action, location and Send to the server - Start
                xhr.open('POST', '/showplanbyid/');
                xhr.setRequestHeader("Content-Type", "application/x-www-form-urlencoded");
                xhr.send("planid=" + id);
                // 3. Specify your action, location and Send to the server - End
            }

            $(document).ready(function(){
                $('#finish').hide();

                $("td .deleterow").on('click', '.deleterow', function()  {
                    var $killrow = $(this).parent('tr');
                        $killrow.addClass("danger");
                        $killrow.fadeOut(2000, function(){
                        $(this).remove();
                    });});

                    $(function () {
                        $('#datetimepicker2').datetimepicker({
                        });
                    });
                    $(function () {
                        $('#datetimepickermap').datetimepicker({
                        });
                });

            $('button.btnDelete').on('click', function (e) {
                e.preventDefault();
                var id = $(this).closest('tr').data('id');
                $('#myModal').data('id', id).modal('show');
            });
             $('table').on('click', 'input[type="button"]', function(e){
               $(this).closest('tr').remove()
            })

            $('button.btnShow').on('click', function (e) {
                e.preventDefault();
                var id = $(this).closest('tr').data('id');
                displayDataPlan(id);
                $('#affiModal').data('id', id).modal('show');
            });

            $('#btnDelteYes').click(function () {
                var id = $('#myModal').data('id');
                $('[data-id=' + id + ']').remove();
                removePostData(id);
                $('#myModal').modal('hide');
            });

            $('#contact-form').validate(
                 {
                  rules: {
                    nparcours: {
                      minlength: 2,
                      required: true
                    },
                    calendar: {
                      required: true
                    },
                  },
                  highlight: function(element) {
                    $(element).closest('.control-group').removeClass('success').addClass('error');
                  },
                  success: function(element) {
                    element
                    .text('OK!').addClass('valid')
                    .closest('.control-group').removeClass('error').addClass('success');
                  }
                 });

                $('#form-login').validate(
                 {
                  rules: {
                    email: {
                      required: true,
                      email: true
                    },
                    password: {
                        minlength: 7,
                      required: true
                    },
    				password1 : {
    					minlength : 7
    				},
    				password2 : {
    					minlength : 7,
    					equalTo : "#password1"
    				},
                    name: {
                      required: true
                    },
                    firstname: {
                      required: true
                    },
                  },
                  messages: {
                    email: {
                      required: "veuillez saisir votre email.",
                      email: "Votre adresse email doit être au format name@domain.com."
                    },
                    password: {
                      required:  "Veuillez saisir un mot de passe correct.",
                      minlength: "Veuillez saisir un mot de passe de plus de 7 caractères."
                    },
                    password1: {
                      required:  "Veuillez saisir un mot de passe correct.",
                      minlength: "Veuillez saisir un mot de passe de plus de 7 caractères."
                    },
                    password2: {
                      required:  "Veuillez re saisir votre mot de passe.",
                      equalTo: "Les mots de passe ne concorde pas."
                    },
                    lastname: {
                      required:  "Veuillez saisir votre nom.",
                      lastname: "Veuillez saisir votre nom."
                    },
                    firstname: {
                      required:  "Veuillez saisir votre prénom.",
                      firstname: "Veuillez saisir votre prénom."
                    }
                  },
                  highlight: function(element) {
                    $(element).closest('.control-group').removeClass('success').addClass('error');
                  },
                  success: function(element) {
                    element
                    .text('OK!').addClass('valid')
                    .closest('.control-group').removeClass('error').addClass('success');
                  }
                 });
           });

        </script>
        <script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-41606246-6', 'auto');
  ga('send', 'pageview');

</script>
    {% endblock %}
</body>
</html>