{% extends 'base.twig' %}
          {% block about %}
        <div class="jumbotron">
            <div class="row">
            <div class="col-lg-2">
                <img src="/img/icon/info.svg" class="img-rounded" width="150">
            </div>
            <div class="col-lg-10">
                <div class="page-header">
                    <h2>A propos de nous</h2>
                    <p><h2>Musée d'Orsay</h2></p>
                    <p>62, rue de Lille</p>
                    <p>75343 Paris Cedex 07</p>
                    <p>France</p>

                    <p><h2>Métro 12 Solférino</h2></p>
                    <p>RER C Musée d'Orsay</p>
                    <p>Bus 24, 63, 68, 69, 73, 83, 84, 94</p>
                    <p>Plan d'accès - RATP</p>
                    <p>Informations et standard</p>
                    <p>+33 (0)1 40 49 48 14</p>

                </div>
            </div>
        </div>
<img src="http://maps.googleapis.com/maps/api/staticmap?scale=2&size=640x300&maptype=roadmap&format=png&visual_refresh=true&markers=size:mid%7Ccolor:red%7Clabel:1%7C48.860162,+2.326572" alt="Google Map of 48.860162, 2.326572" width='800'>
          </div>
{% endblock %}