{% extends 'base.twig' %}
          {% block admin %}

         <div class="jumbotron">
                         {% if (flash['hello'] is not null)%}
            <div class="alert alert-success alert-dismissible" role="alert">
                <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                {{ flash['hello'] }}
            </div>
        {% endif %}
            <div class="row">
            <div class="col-lg-2">
                <img src="/img/icon/antique5.svg" class="img-rounded" width="150">
            </div>
            <div class="col-lg-10">
                    <h2>Bonjour <strong>{{ prenom|capitalize }} {{ nom|capitalize }}</strong></h2>
                    <p><a class="btn btn-default" href="/profil/" role="button">Voir mon profil &raquo;</a></p>

            </div>
        </div>
          </div>
            <div class="container marketing">

      <!-- Three columns of text below the carousel -->
      <div class="row">
        <div class="col-lg-4">
          <img class="img-circle" src="/img/icon/medal.svg" alt="One" style="width: 140px; height: 140px;">
          <h2>Top parcours</h2>
          <p>Les parcours suivants ont reçu une bonne apréciation de la part des utilisateurs</p>
          <p><a class="btn btn-default" href="/top/" role="button">Afficher le TOP &raquo;</a></p>
        </div><!-- /.col-lg-4 -->
        <div class="col-lg-4">
          <img class="img-circle" src="/img/icon/plan.svg" alt="plan" style="width: 140px; height: 140px;">
          <h2>Creer son parcours</h2>
          <p>Imaginez le parcours qui vous ressemble</p>
          <p><a class="btn btn-default" href="/createmap/" role="button">Commencer &raquo;</a></p>
        </div><!-- /.col-lg-4 -->
        <div class="col-lg-4">
          <img class="img-circle" src="/img/icon/recent.svg" alt="historic" style="width: 140px; height: 140px;">
          <h2>Mes parcours</h2>
          <p>Remontez le temps et retrouvez vos anciens parcours enrgistré</p>
          <p><a class="btn btn-default" href="/historic/" role="button">Voir mon historique &raquo;</a></p>
        </div><!-- /.col-lg-4 -->
      </div><!-- /.row -->
      </div>
{% endblock %}