{% extends 'base.twig' %}
          {% block createmap %}
        <div class="jumbotron">
            <div class="row">
            <div class="col-lg-2">
                <img src="/img/icon/info.svg" class="img-rounded" width="150">
            </div>
            <div class="col-lg-10">
                <div class="page-header">
                    <h2>Vous allez creer votre parcours</h2>
                    <p> <h2> <small>hello</small> </h2> </p>
                </div>
            </div>
        </div>
          </div>
{% endblock %}