{% extends 'base.twig' %}
    {% block editprofil %}
     <div class="jumbotron">
    <div class="row">
            <div class="col-sm-3 col-md-3">

            </div>
            <div class="col-sm-3 col-md-3">
                <img src="/img/icon/antique5.svg"
                alt="" class="img-rounded img-responsive" width="250" />
            </div>
            <div class="col-sm-6 col-md-6">
                <form action="/updateprofil/" class="form-signin" method="post" enctype="multipart/form-data">
                    <div class="input-group">
                        <input type="email" class="form-control" placeholder="{{ session.mail }}" aria-describedby="inputEmail" name="email" value="{{ session.mail }}" required >
                                    <span class="input-group-addon" id="basic-addon1"><span class="glyphicon glyphicon-envelope" aria-hidden="true"></span></span>
                    </div>
                  </br>
                   <div class="input-group">
                        <input type="password" class="form-control" placeholder="saisir votre mot de passe" aria-describedby="basic-addon1" name="password1"/>
                                                <span class="input-group-addon" id="basic-addon1"><span class="glyphicon glyphicon-lock" aria-hidden="true"></span></span>
                            </div>
                            </br>
                    <div class="input-group">
                        <input type="password" class="form-control" placeholder="saisir votre nouveau mot de passe" aria-describedby="basic-addon1" name="password1"/>
                                                <span class="input-group-addon" id="basic-addon1"><span class="glyphicon glyphicon-lock" aria-hidden="true"></span></span>
                            </div>
                            </br>
                    <div class="input-group">
                        <input type="text" class="form-control" placeholder="Nom" aria-describedby="basic-addon1" name="lastname"  value="{{ session.nom|capitalize }}"/>
                                                <span class="input-group-addon" id="basic-addon1"><span class="glyphicon glyphicon-user" aria-hidden="true"></span></span>
                    </div>
                    </br>
                    <div class="input-group">
                        <input type="text" class="form-control" placeholder="Prénom" aria-describedby="basic-addon1" name="firstname"value="{{ session.prenom|capitalize }}"/>
                                    <span class="input-group-addon" id="basic-addon1"><span class="glyphicon glyphicon-user" aria-hidden="true"></span></span>
                    </div>
                    </br>
                            <div class='input-group date' id='datetimepicker2'>
                                <input type='text' class="form-control" name="calendar" value="{{ session.date_naissance }}"/>
                                <span class="input-group-addon"><span class="glyphicon glyphicon-calendar"></span>
                                </span>
                            </div>
                    </br>
                    <div class="input-group">
                        <input type="phone" class="form-control" placeholder="saisr votre téléphone" aria-describedby="basic-addon1" name="phone" value="{{ session.numero_telephone }}"/>
                        <span class="input-group-addon" id="basic-addon1"><span class="glyphicon glyphicon-phone" aria-hidden="true"></span></span>
                    </div>
                    </br>
                    <div class="input-group">
                        <input type="text" class="form-control" placeholder="saisr votre ville" aria-describedby="basic-addon1" name="city" value="{{ session.city|capitalize }}"/>
                        <span class="input-group-addon" id="basic-addon1"><span class="glyphicon glyphicon-map-marker" aria-hidden="true"></span></span>
                    </div>
                    </br>
                    <div class="input-group">
                        <input type="text" class="form-control" placeholder="saisr votre code postal" aria-describedby="basic-addon1" name="codepostal" value="{{ session.codepostal }}"/>
                        <span class="input-group-addon" id="basic-addon1"><span class="glyphicon glyphicon-road" aria-hidden="true"></span></span>
                    </div>
                    </br>
                    <input  class="btn btn-lg btn-primary btn-block "  formnovalidate type="submit" value="sauvegarder &raquo;">
                  </form>
        </div>
        </div>
{% endblock %}