{% extends 'base.twig' %}
          {% block recent %}
        <div class="jumbotron">
            <div class="row">
            <div class="col-lg-2">
                <img src="/img/icon/error.svg" class="img-rounded" width="150">
            </div>
            <div class="col-lg-10">
                <div class="page-header">
                    <h2> {{ flash['error'] }}</h2>

                </div>
            </div>
        </div>
          </div>
{% endblock %}