{% extends 'base.twig' %}
          {% block recent %}
        <div class="jumbotron">
            <div class="row">
            <div class="col-lg-2">
                <img src="/img/icon/recent.svg" class="img-rounded" width="150">
            </div>
            <div class="col-lg-10">
                <div class="page-header">
                    <h2> Vos parcours</h2>
                    <p> <h2> <small>Vous pouvez consulter et gérer ici les parcours que vous avez créé.</small> </h2> </p>
                </div>
            </div>
        </div>
          </div>
          <div class="page-header">
        <h1>Parcours en attente de traitement</h1>
      </div>
          {%  if (processplan !=null ) %}
          <div class="table-responsive">
            <table class="table table-striped">
              <thead>
                <tr>
                    <th>Nom</th>
                  <th>Date</th>
                  <th>Duree</th>
                  <th>Type</th>
                  <th>Status</th>
                </tr>
              </thead>
              <tbody>
              {% for items in processplan %}
                <tr data-id="{{ items.id }}">
                <td>{{ items.nomparcours }}</td>
                  <td>{{ items.date }}</td>
                  <td>{{ items.duree }}</td>
                  <td>{{ items.typeparcours }}</td>
                  <td>{%  if (items.status == 0 ) %}<button type="button" class="btn btn-xs btn-warning">Traitement</button>{% else %}<!--<button type="button" class="btn btn-xs btn-success">Terminé</button> --><button type="button" class="btnShow btn btn-xs btn-info">Afficher la proposition du guide</button>{% endif %}</td>
                </tr>
                {% endfor %}
              </tbody>
            </table>
          </div>
          {% else %}
          <p>Vous n'avez pas encore créé de parcours, Crée en un qui vous ressemble !</p>
          <p><a class="btn btn-default" href="/createmap/" role="button">Commencer &raquo;</a></p>
          {% endif %}
          <div class="page-header">
        <h1>Vos parcours</h1>
      </div>
    {%  if (historic !=null ) %}
    <div class="table-responsive">
        <table class="table table-striped">
            <thead>
                <tr>
                    <th>Nom</th>
                    <th>Date</th>
                    <th>Duree</th>
                    <th>Nombre d'oeuvres</th>
                    <th>Type</th>
                    <th>Note</th>
                    <th>Afficher</th>
                    <th>Supprimer</th>
                </tr>
            </thead>
            <!-- start: Table Body -->
            <tbody>
            {% for item in historic %}
                <tr class="btnDelete" data-id="{{ item.id }}">
                    <td>{{ item.nomparcours }}</td>
                    <td>{{ item.date }}</td>
                    <td>{{ item.duree }}</td>
                    <td>{{ (item.id_oeuvre|split(','))|length  }}</td>
                    <td>{{ item.type }}</td>
                    <td>{{ item.note }}</td>
                    <td><button type="button" class="btn btn-xs btn-info">Afficher</button></td>
                    <td><button class="btnDelete btn btn-xs btn-danger" href="">X Supprimer</button></td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
<!--/table-collapse -->
    </div>
    </br>
    </br>
    <div id="status"></div>
          {% else %}
          <p>Vous n'avez pas encore créé de parcours, Crée en un qui vous ressemble !</p>
          <p><a class="btn btn-default" href="/createmap/" role="button">Commencer &raquo;</a></p>
          {% endif %}
    <!-- start: Delete Coupon Modal -->
<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                 <h3 class="modal-title" id="myModalLabel">Attention !</h3>

            </div>
            <div class="modal-body">
                 <h4> Etes-vous sure de vouloir supprimer ce parcours ?</h4>
            </div>
            <!--/modal-body-collapse -->
            <div class="modal-footer">
                <button type="button" class="btn btn-danger" id="btnDelteYes" href="#">OUI</button>
                <button type="button" class="btn btn-default" data-dismiss="modal">NON</button>
            </div>
            <!--/modal-footer-collapse -->
        </div>
        <!-- /.modal-content -->
    </div>
    <!-- /.modal-dialog -->
</div>
<div class="modal fade" id="affiModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                 <h3 class="modal-title" id="myModalLabel">Voici la proposition du guide !</h3>

            </div>
            <div class="modal-body">
                 <h4>Proposition pour le parcours</h4>
                 <div id="statusplanid"></div>
            </div>
            <!--/modal-body-collapse -->
            <div class="modal-footer">
                <button type="button" class="btn btn-success" data-dismiss="modal" href="#">Accepter</button>
                <button type="button" class="btn btn-danger" data-dismiss="modal">Refuser</button>
            </div>
            <!--/modal-footer-collapse -->
        </div>
        <!-- /.modal-content -->
    </div>
    <!-- /.modal-dialog -->
</div>
<!-- /.modal -->
    {% endblock %}