{% extends 'base.twig' %}
{% block content %}
      <!-- Carousel
        ================================================== -->
        <div id="myCarousel" class="carousel slide hidden-sm hidden-xs" data-ride="carousel">
          <!-- Indicators -->
          <ol class="carousel-indicators">
            <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
            <li data-target="#myCarousel" data-slide-to="1"></li>
            <li data-target="#myCarousel" data-slide-to="2"></li>
          </ol>
          <div class="carousel-inner" role="listbox">
            <div class="item active">
              <img src="img/banners/orsay.jpg" class="img-responsive center-block" alt="First slide">
              <div class="container">
                <div class="carousel-caption">
                  <h1>Bienvenue au musée d'Orsay</h1>
                  <p>Venez découvir de grandes oeuvres qui ont marqué l'histoire de l'art ! Laissez-vous guider avec nos parcours prédéfinis ou constuisez le parcours qui vous ressemble.</p>
                  <p><a class="btn btn-lg btn-primary" href="/login/" role="button">Commencer maintenant</a></p>
                </div>
              </div>
            </div>
            <div class="item">
              <img src="img/banners/Nuitetoilee.jpg" class="img-responsive center-block" alt="Second slide">
              <div class="container">
                <div class="carousel-caption">
                </div>
              </div>
            </div>
            <div class="item">
              <img src="img/banners/monet-coquelicots.jpg" class="img-responsive center-block" alt="Third slide">
              <div class="container">
                <div class="carousel-caption">
                </div>
              </div>
            </div>
          </div>
          <a class="left carousel-control" href="#myCarousel" role="button" data-slide="prev">
            <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
            <span class="sr-only">Previous</span>
          </a>
          <a class="right carousel-control" href="#myCarousel" role="button" data-slide="next">
            <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
            <span class="sr-only">Next</span>
          </a>
        </div><!-- /.carousel -->
<!-- Marketing messaging and featurettes
    ================================================== -->
    <!-- Wrap the rest of the page in another container to center all the content. -->

    <div class="container marketing">

      <!-- Three columns of text below the carousel -->
      <div class="row">
        <div class="col-lg-4">
          <img class="img-circle" src="/img/icon/group.svg" alt="group" style="width: 140px; height: 140px;" >
          <h2>Venez à plusieurs</h2>
          <p>Venez nombreux afin d'obtenir des tarifs préférentiels ! Pour deux places achetées, la troisième est a -50% et si vous venez à tois la quatrième est gratuite !</p>
        </div><!-- /.col-lg-4 -->
        <div class="col-lg-4">
          <img class="img-circle" src="/img/icon/Checklist.svg"  alt="Generic placeholder image" style="width: 140px; height: 140px;">
          <h2>Parcours personnalisé</h2>
          <p>Créez votre compte et commencez immédiatement à construire un parcours selon vos goûts et vos envies et vos disponibilités ! Vous pourrez consulter l'ensemble des oeuvres et des artistes exposés. Lors d'une seconde visite, vous recevrez une réduction de -10% sur votre nouvelle entrée !</p>
        </div><!-- /.col-lg-4 -->
        <div class="col-lg-4">
          <img class="img-circle" src="/img/icon/Euro-Coin.svg" alt="Generic placeholder image" style="width: 140px; height: 140px;">
          <h2>Compte gratuit</h2>
          <p>Vous pouvez créer vos parcours sans rien débourser c'est gratuit ! Lorsque vous aurez créé et effectué dix parcours, nous aurons l'honneur de vous offrir une entrée gratuite !</p>
        </div><!-- /.col-lg-4 -->
      </div><!-- /.row -->


      <!-- START THE FEATURETTES -->

      <hr class="featurette-divider">

      <div class="row featurette">
        <div class="col-md-7">
          <h2 class="featurette-heading">Histoire du musée<span class="text-muted"> Un musée dans une gare</span></h2>
          <p class="lead">L'histoire du musée, de son bâtiment, est peu banale. Situé au coeur de Paris, le long de la Seine, face au jardin des Tuileries, le musée a pris place dans l'ancienne gare d'Orsay, un édifice construit pour l'exposition universelle de 1900. Ainsi le bâtiment est, en quelque sorte, la première "oeuvre" des collections du musée d'Orsay qui présente l'art des quelques décennies qui s'écoulent entre 1848 et 1914.</p>
        </div>
        <div class="col-md-5">
          <img class="featurette-image img-responsive" src="http://p6.storage.canalblog.com/66/30/1337676/102482587.jpg" alt="Generic placeholder image">
        </div>
      </div>

      <hr class="featurette-divider">

      <div class="row featurette">
        <div class="col-md-5">
          <img class="featurette-image img-responsive" src="http://www.parisinfo.com/var/otcp/sites/images/media/1.-photos/02.-sites-culturels-630-x-405/musee-orsay-facade-630x405-c-otcp-amelie-dupont-i-119-10/20688-1-fre-FR/Musee-Orsay-facade-630x405-C-OTCP-Amelie-Dupont-I-119-10.jpg" alt="Generic placeholder image">
        </div>
        <div class="col-md-7">
          <h2 class="featurette-heading">Formule <span class="text-muted"> Adhésion</span></h2>
          <p class="lead">Profitez d'une année de visites haute en couleur avec la Carte blanche des musées d'Orsay et de l'Orangerie ! Seul ou à deux, choisissez la formule qui répond le mieux à vos envies. Et si vous avez moins de 36 ans, optez pour la Carte blanche aux jeunes.</p>
            <ul>
                <li>Visitez librement le musée d'Orsay et le musée de l'Orangerie pendant un an.</li>
                <li>Accédez aux expositions temporaires.</li>
                <li>Revenez quand vous le souhaitez.</li>
                <li>Bénéficiez de réductions sur les audioguides, les concerts et spectacles de l'auditorium.</li>
                <li>Suivez l'actualité des musées en avant-première.</li>
                <li>Profitez des tarifs et avantages offerts chez les partenaires culturels du musée.</li>
            </ul>
        </div>
      </div>

{% endblock %}
