{% extends 'base.twig' %}
{% block login %}

      <form action="/newlogin/"  class="form-signin"  method="post" id="form-login"  enctype="multipart/form-data"  >
      {% if (flash['error'] is not null)%}
            <div class="alert alert-danger alert-dismissible" role="alert">
  <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
  <strong>Attention !</strong> {{ flash['error'] }}
</div>
{% endif %}
        <h3 class="form-signin-heading">Veuillez vous connecter !</h3>
        <label for="email" class="sr-only">Email address</label>
        <input type="email" class="form-control" placeholder="Email address"  id="email" name="email" required autofocus>
        <label for="password" class="sr-only">Password</label>
        <input type="password" class="form-control" placeholder="Password"  id="password"  name="password" required>
        </br>
        <input  class="btn btn-lg btn-primary btn-block" type="submit">
        </br>
        </br>
        <p>Cliquez ici si vous n'avez pas de compte <a class="btn btn-default" href="/signin/" role="button">Creer son compte &raquo;</a></p>
      </form>

      <div id="resultat"></div>
{% endblock %}