{% extends 'base.twig' %}
          {% block admin %}
        <div class="tab-content">
            <div class="tab-pane fade in active" id="demos">
                <section>
                    <h2>Sortable table</h2>
                    <ul class="list-group list-group-sortable-handles">
                        <li class="list-group-item"><span class="glyphicon glyphicon-move"></span> Cras justo odio</li>
                        <li class="list-group-item"><span class="glyphicon glyphicon-move"></span> Dapibus ac facilisis in</li>
                        <li class="list-group-item"><span class="glyphicon glyphicon-move"></span> Morbi leo risus</li>
                        <li class="list-group-item"><span class="glyphicon glyphicon-move"></span> Porta ac consectetur ac</li>
                        <li class="list-group-item"><span class="glyphicon glyphicon-move"></span> Vestibulum at eros</li>
                    </ul>
                </section>
            </div>
        </div>
{% endblock %}