{% extends 'base.twig' %}
          {% block newplan %}
        <div class="jumbotron">
            <div class="row">
            <div class="col-lg-3">
                            <img src="/img/icon/Checklist.svg" class="img-rounded" width="150">
            </div>
            <div class="col-lg-6">
                <div class="page-header">
                    <legend>Vous allez creer votre parcours</legend>
                    <p> <h2> <small>Mais d'abord j'ai besoin de quelques informations !</small> </h2> </p>
                </div>
                <form action="/firsteplan/" id="contact-form" method="post"   enctype="multipart/form-data" class="form-horizontal">
                    <fieldset>
                        <div class="control-group">
                          <label class="control-label" for="name">Entrez le nom de votre parcours</label>
                          <div class="controls">
                            <input type="text" class="input-xlarge" name="nparcours" id="nparcours">
                          </div>
                        </div>
                        <div class="control-group">
                          <label class="control-label" for="date">Quel jour souhaitez vous venir</label>
                          <div class='input-group date' id='datetimepickermap'>
                                <input type='text' class="form-control" name="calendar"/>
                                <span class="input-group-addon"><span class="glyphicon glyphicon-calendar"></span>
                                </span>
                            </div>
                        </div>
                        <div class="control-group">
                          <label class="control-label" for="name">Vous souhaitez que la visite dure combien de temps?</label>
                          <div class="controls">
                           <select class="input-group form-control" id="selecthour" name="shour">
                                <option>1h00</option>
                                <option>1h30</option>
                                <option>2h00</option>
                                <option>2h30</option>
                                <option>3h00</option>
                                <option>3h30</option>
                                <option>4h00</option>
                                <option>Plus de 4h00</option>
                              </select>
                          </div>
                        </div>
                        <div class="control-group">
                          <label class="control-label" for="name">Souhaitez vous publier votre parcours ?</label>
                          <div class="controls">
                            <select class="input-group form-control" id="sel1" name="spublic">
                                <option>oui</option>
                                <option>non</option>
                              </select>
                          </div>
                        </div>
                        <hr>
                        <div class="form-actions">
                            <a href="/admin/" type="button" class="btn btn-primary btn-large">Retour</a>
                            <button type="submit" class="btn btn-success btn-large">Suivant</button>
                        </div>
                      </fieldset>
                    </form>
            </div>
        </div>
        <div class="col-lg-3">
            </div>
          </div>
    {% endblock %}
