{% extends 'base.twig' %}
    {% block profil %}
    <div class="jumbotron">
        <div class="row">
                <div class="col-sm-3 col-md-3">

                </div>
                <div class="col-sm-3 col-md-3">
                    <img src="/img/icon/antique5.svg"
                    alt="" class="img-rounded img-responsive" width="250" />
                </div>
                <div class="col-sm-6 col-md-6">
                    <blockquote>
                        <p>{{ session.prenom|capitalize }} {{session.nom|capitalize}} </p> <small><cite title="Source Title">{{ session.city|capitalize }} {{ session.codepostal }}<i class="glyphicon glyphicon-map-marker"></i></cite></small>
                        <cite title="Source Title">{{ session.region|capitalize }} {{ session.pays|capitalize }}</cite>
                    </blockquote>
                    <p> <i class="glyphicon glyphicon-envelope"></i> {{ session.mail }}
                        <br /> <i class="glyphicon glyphicon-gift"></i> {{ session.date_naissance }}</p>
                </div>
                <p><a class="btn btn-default" href="/editprofil/" role="button">Modifier mon profil &raquo;</a></p>
            </div>
        </div>
    {% endblock %}