{% extends 'base.twig' %}
          {% block create %}
        <!--<div class="tab-content">
            <div class="tab-pane fade in active" id="demos">
                <section>
                    <ul class="list-group list-group-sortable-handles">
                        <li class="list-group-item"><span class="glyphicon glyphicon-move"></span> Cras justo odio</li>
                    </ul>
                </section>
            </div>
        </div>-->
        <div class="page-header">
        <h3>Seconde etape de la création de votre parcours : <small id="nparcours">{{ dataparcours.nparcours|capitalize }}</small><h1>
        <p> <h4> Date :<small id="calendar">{{ dataparcours.calendar}}</small> </h3> </p>
        <p> <h4> Durée :<small id="hour">{{ dataparcours.hour}}</small> </h4> </p>
        <p> <h4> Statut :<small id="spublic">{% if (dataparcours.spublic == 'oui' )%} Publique {% else %} Privé {%endif%}</small> </h4> </p>
        </div>
            <div class="row" id="select">
                <div class="col-sm-6 col-md-6">
        <div class="page-header">
        <h1>Rechercher :</h1>
      </div>
    <ul class="nav nav-tabs">
        <li class="nav active"><a href="#A" data-toggle="tab">Un artiste</a></li>
        <li class="nav"><a href="#B" data-toggle="tab">Une oeuve</a></li>
        <li class="nav"><a href="#C" data-toggle="tab">Un type d'oeuve</a></li>
        <li class="nav"><a href="#D" data-toggle="tab">Un mouvement artistique</a></li>
    </ul>

        <!-- Tab panes -->
        <div class="tab-content">
            <div class="tab-pane fade in active" id="A"><input id="nameartiste" name="nameartiste" type="text" class="form-control" placeholder="votre recherche" /></div>
            <div class="tab-pane fade" id="B"><input id="nameoeuvres" name="nameoeuvres" type="text" class="form-control" placeholder="votre recherche" /></div>
            <div class="tab-pane fade" id="C"><input id="nametype" name="nametype" type="text" class="form-control" placeholder="votre recherche" /></div>
            <div class="tab-pane fade" id="D"><input id="namemouvement" name="namemouvement" type="text" class="form-control" placeholder="votre recherche" /></div>
        </div>


        </div>
        <div class="col-sm-6 col-md-6">
        <div class="page-header">
        <h1>Votre selection</h1>
        </div>
            <div class="table-responsive" >
            <table border="1" class="table table-striped table-hover  table-bordered" id="result">
                <tr></tr>
            </table>
            </div>
        </div>

    </div>
    </br>
    <a href="/createmap/" type="button" class="btn btn-primary btn-large" id="previous">Précédent</a>
    <a type="button" class="btn btn-success btn-large" id="next" onclick="PostData()">Suivant</a>
    <a href="/historic/" type="button" class="btn btn-success btn-large" id="finish" >Terminer</a>
    </br>
    </br>
    <div id="status"></div>

    <script>
    $.ajax({
                url: "/api/getArtistes/",
                type : 'POST',
                dataType: "json",
                success: function(response){
                    var data = $(response).map(function(){
                        return {value: this.nom, id: this.id};
                    }).get();

                    $('#nameartiste').autocomplete({
                        source: data,
                        minLength: 0,
                        select: function(event,ui){
                            $('table tr:last').after("<tr><td data-id='"+ui.item.id+"'><span class='cellvalue'>"+ui.item.value+"</span></td><td class='deleterow'><input type='button' class='btn btn-xs btn-danger' value=' X Supprimer' ></td></tr>");
                        }
                    }).data( "ui-autocomplete" )._renderItem = function( ul, item ) {
                    return $( "<li></li>" ).data("item.autocomplete", item)
                    .append( "<a>" + item.value + "</a>")
                    .appendTo( ul );
                    };
                }
            });

            $.ajax({
                url: "/api/getOeuvres/",
                type : 'POST',
                dataType: "json",
                success: function(response){
                    var data = $(response).map(function(){
                        return {value: this.nom, id: this.id, image:this.image};
                    }).get();

                    $('#nameoeuvres').autocomplete({
                        source: data,
                        minLength: 0,
                        select: function(event,ui){
                            $('table tr:last').after("<tr><td data-id='"+ui.item.id+"'><span class='cellvalue'>"+ui.item.value+"</span></td><td class='deleterow'><input type='button' class='btn btn-xs btn-danger'  value=' X Supprimer' ></td></tr>");
                        }
                    }).data( "ui-autocomplete" )._renderItem = function( ul, item ) {
                    return $( "<li></li>" ).data("item.autocomplete", item)
                    .append( "<a><img src='../"+item.image+"'  width='40'/> " + item.value + "</a>")
                    .appendTo( ul );
                    };
                }
            });
            $.ajax({
                url: "/api/getType/",
                type : 'POST',
                dataType: "json",
                success: function(response){
                    var data = $(response).map(function(){
                        return {value: this.type};
                    }).get();

                    $('#nametype').autocomplete({
                        source: data,
                        minLength: 0,
                        select: function(event,ui){
                            $('table tr:last').after("<tr><td data-id='"+ui.item.value+"'><span class='cellvalue'>"+ui.item.value+"</span></td><td class='deleterow'><input type='button' class='btn btn-xs btn-danger'  value=' X Supprimer' ></td></tr>");
                        }
                    }).data( "ui-autocomplete" )._renderItem = function( ul, item ) {
                    return $( "<li></li>" ).data("item.autocomplete", item)
                    .append( "<a>" + item.value + "</a>")
                    .appendTo( ul );
                    };
                }
            });

           $.ajax({
                url: "/api/getmouvement/",
                type : 'POST',
                dataType: "json",
                success: function(response){
                    var data = $(response).map(function(){
                        return {value: this.periode};
                    }).get();

                    $('#namemouvement').autocomplete({
                        source: data,
                        minLength: 0,
                        select: function(event,ui){
                            $('table tr:last').after("<tr><td data-id='"+ui.item.value+"'><span class='cellvalue'>"+ui.item.value+"</span></td><td class='deleterow'><input type='button' class='btn btn-xs btn-danger'  value=' X Supprimer' ></td></tr>");
                        }
                    }).data( "ui-autocomplete" )._renderItem = function( ul, item ) {
                    return $( "<li></li>" ).data("item.autocomplete", item)
                    .append( "<a>" + item.value + "</a>")
                    .appendTo( ul );
                    };
                }
            });
    </script>
{% endblock %}
