{% extends 'base.twig' %}
          {% block signin %}

    <form action="/newuser/"  class="form-signin"  method="post"   enctype="multipart/form-data" id="form-login" >
        {% if (flash['error'] is not null)%}
            <div class="alert alert-danger alert-dismissible" role="alert">
                <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <strong>Attention !</strong> {{ flash['error'] }}
            </div>
        {% endif %}
                {% if (flash['error2'] is not null)%}
            <div class="alert alert-danger alert-dismissible" role="alert">
                <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <strong>Attention !</strong> {{ flash['error2'] }}
            </div>
        {% endif %}
        <h3 class="form-signin-heading">Veuillez vous enregistrer</h3>
        <label for="email" class="sr-only">Email address</label>
        <input type="email" class="form-control" placeholder="Saisir votre email"  id="email" name="email" required autofocus>
        <label for="password1" class="sr-only">Password</label>
        <input type="password" class="one form-control" placeholder="Saisir votre mot de passe"  id="password1"  name="password1" required>
        <label for="password2" class="sr-only">Password</label>
        <input type="password" class="second form-control" placeholder="Re-saisir votre mot de passe"  id="password2"  name="password2" required>
        </br>
        <label for="lastname" class="sr-only">lastname</label>
        <input type="text" class="lastname form-control" placeholder="Saisir votre nom"  id="lastname"  name="lastname" required>
        <label for="firstname" class="sr-only">firstname</label>
        <input type="text" class="firstname form-control" placeholder="Saisir votre prénom"  id="firstname"  name="firstname" required>
        </br>
        <div class='input-group date' id='datetimepicker2'>
            <input type='text' class="form-control" name="calendar"/>
            <span class="input-group-addon"><span class="glyphicon glyphicon-calendar"></span></span>
        </div>
        </br>
        <label for="firstname" class="sr-only">Téléphone</label>
        <input type="phone" class="phone form-control" placeholder="Saisir votre téléphone"  id="phone"  name="phone" required>
        </br>
        <input  class="btn btn-lg btn-primary btn-block "  type="submit">
    </form>

                  <div id="response"></div>
    {% endblock %}
