{% extends 'base.twig' %}
          {% block top %}
        <div class="jumbotron">
            <div class="row">
            <div class="col-lg-2">
                <img src="/img/icon/medal.svg" class="img-rounded" width="150">
            </div>
            <div class="col-lg-10">
                <div class="page-header">
                    <h2> TOP Parcours</h2>
                    <p> <h2> <small>Le classement des meilleurs parcours selon les utilisateurs</small> </h2> </p>
                </div>
            </div>
        </div>
          </div>

          <div class="table-responsive">
            <table class="table table-striped">
              <thead>
                <tr>
                  <th>Créateur</th>
                  <th>Duree</th>
                  <th>Nombre d'oeuvres</th>
                </tr>
              </thead>
              <tbody>
              {% for item in top %}
                <tr>
                  <td>{{ item.prenom }}  {{ item.nom }}</td>
                  <td>{{ item.duree }}</td>
                  <td>{{ (item.id_oeuvre|split(','))|length }}</td>
                </tr>
                {% endfor %}
              </tbody>
            </table>
          </div>
{% endblock %}